

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);">
  <div class="ml-5">
    <h1>Learn more about <strong>cocktail</strong>!</h1>
    <p>Every recipe here</p>
    <a class="btn btn-success" href="#">Discover</a>
  </div>
</div>

<br/>



<h1 class="text-center m-3">Cocktails</h1>
<div class="cards text-center">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category d-flex justify-content-center d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
   <%= link_to cocktail.name, cocktail_path(cocktail) %>
 </div>
 <% end %>
</div>
</div>

<br/>
<p class="btn btn-success"> <%= link_to "Add cocktail", new_cocktail_path %> </p>
